@charset "UTF-8";
:root {
  --black: #131313;
  --white: #FFFFFF;
  --grey: #e8e8e8;
  --grey1: #6F6F6F;
  --accent: #FF4040;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

picture {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--black);
}

.section {
  padding-top: 150px;
}
.section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2083333333;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (width < 941px) {
  .section {
    padding-top: 50px;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* Скрытие заголовка */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  margin-bottom: 100px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (width < 1111px) {
  .header {
    margin-bottom: 50px;
  }
}
@media screen and (width < 768px) {
  .header__inner {
    display: block;
  }
}

@media screen and (width > 990px) {
  .nav {
    margin-right: 70px;
  }
}
.nav__list {
  display: flex;
  gap: 12px;
}
.nav__link {
  padding: 42px 20px;
  text-transform: uppercase;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover {
  background-color: var(--black);
  color: var(--white);
}
@media screen and (width < 769px) {
  .nav {
    margin: 45px 0 0;
  }
  .nav__list {
    justify-content: space-between;
  }
  .nav__link {
    padding: 24px 20px;
  }
}
@media screen and (width < 641px) {
  .nav__link {
    padding: 24px 0;
  }
}
@media screen and (width < 351px) {
  .nav__link {
    font-size: 12px;
  }
}

.logo {
  width: 160px;
  height: 100px;
}
@media screen and (width < 768px) {
  .logo {
    display: block;
    width: 100px;
    height: 40px;
    margin: 0 auto;
  }
}

.cover__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.cover__title {
  margin: 60px 0 5px;
  font-weight: 700;
  font-size: 56px;
  max-width: 539px;
}
.cover__subtitle {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 32px;
  color: var(--grey);
}
.cover__text {
  max-width: 420px;
}
.cover__text + .cover__text {
  margin-bottom: 80px;
}
.cover__subtitle + .cover__text {
  margin-bottom: 20px;
}
.cover__feature {
  flex-basis: 630px;
  max-width: 630px;
}
.cover__slider .slick-dots {
  right: 0;
  top: 50px;
}
.cover__list {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.cover__item {
  min-width: 160px;
  min-height: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cover__item-hat {
  font-weight: 700;
  text-transform: uppercase;
}
.cover__item-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: auto 0;
  text-transform: lowercase;
}
@media screen and (width < 1111px) {
  .cover__inner {
    flex-wrap: wrap;
  }
  .cover__content {
    max-width: 100%;
  }
  .cover__text {
    max-width: 100%;
  }
  .cover__text + .cover__text {
    margin-bottom: 30px;
  }
  .cover__feature {
    max-width: 100%;
    order: -1;
  }
}
@media screen and (width < 671px) {
  .cover__item {
    max-width: 100%;
  }
  .cover__title {
    margin: 0 5px;
    font-size: 44px;
    max-width: 100%;
  }
  .cover__subtitle {
    margin-bottom: 30px;
    font-size: 22px;
  }
  .cover__text {
    max-width: 100%;
  }
  .cover__list {
    flex-direction: column;
  }
}

.button {
  min-width: 420px;
  padding: 28px 28px;
  font-size: 20px;
  letter-spacing: 1.1em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--black);
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: var(--accent);
}
@media screen and (width < 641px) {
  .button {
    min-width: auto;
    max-width: 100%;
    font-size: 16px;
    padding: 18px 18px;
    letter-spacing: 0.9em;
  }
}

.slick-dots {
  position: absolute;
}
.slick-dots li + li {
  padding-top: 10px;
}
.slick-dots button {
  width: 2px;
  height: 25px;
  font-size: 0;
  padding: 0;
  background-color: var(--black);
  border-radius: 7px;
  transition-duration: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.slick-dots button:hover {
  background-color: var(--accent);
}

.slick-active button {
  background-color: var(--accent);
}

.description__inner {
  display: flex;
  gap: 60px;
}
.description__list {
  max-width: 490px;
}
.description__img {
  flex-basis: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}
.description__item:not(:last-child) {
  margin-bottom: 50px;
}
.description__item p {
  max-width: 450px;
}
@media screen and (width < 941px) {
  .description__inner {
    flex-direction: column;
  }
  .description__list {
    max-width: 100%;
  }
  .description__item p {
    max-width: 100%;
  }
}

.feature .subtitle {
  margin-bottom: 40px;
}
.feature__inner {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.feature__items {
  flex-basis: 570px;
}
.feature__list:not(:last-child) {
  margin-bottom: 30px;
}
.feature__indicators {
  padding: 2px 0 3px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--black);
  margin-bottom: 13px;
}
.feature__line {
  display: flex;
  margin-bottom: 5px;
}
.feature__name {
  flex-basis: 285px;
  padding-right: 15px;
}
.feature__descr {
  flex-basis: 285px;
}
.feature__img {
  align-self: center;
  width: auto;
}
@media screen and (width < 992px) {
  .feature__inner {
    flex-wrap: wrap;
  }
  .feature__items {
    flex-basis: 100%;
  }
  .feature__name {
    flex-basis: 50%;
  }
  .feature__descr {
    flex-basis: 50%;
  }
  .feature__img {
    order: -1;
    width: 100%;
  }
}

.slider {
  margin-bottom: 50px;
}
.slider .slick-dots {
  left: 0;
  top: 0;
}
.slider__img {
  margin-left: 50px;
}
@media screen and (width < 769px) {
  .slider__img {
    margin-left: 30px;
  }
}

.order {
  padding-bottom: 100px;
}
.order__inner {
  display: flex;
  position: relative;
}
.order .subtitle {
  margin-bottom: 40px;
}
.order__form {
  max-width: 420px;
}
.order__form-text {
  max-width: 298px;
  margin-bottom: 30px;
}
.order__input {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid var(--black);
  outline: none;
}
.order__input::-moz-placeholder {
  color: var(--grey1);
  opacity: 0.5;
}
.order__input:-ms-input-placeholder {
  color: var(--grey1);
  opacity: 0.5;
}
.order__input::placeholder {
  color: var(--grey1);
  opacity: 0.5;
}
.order__label {
  cursor: pointer;
}
.order__label + .order__label {
  margin-left: 23px;
}
.order__label-text {
  color: var(--grey1);
  opacity: 0.5;
  margin-bottom: 10px;
}
.order__label-box {
  display: flex;
  margin-bottom: 50px;
}
.order__input-radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
  clip: rect(0 0 0 0);
}
.order__bike {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.order__radio-style {
  display: inline-block;
  width: 80px;
  height: 12px;
  border-radius: 30px;
}
.order__radio-style--grey {
  background-color: var(--grey1);
}
.order__radio-style--white {
  background-color: var(--white);
  border: 1px solid #6F6F6F;
}
.order__radio-style--red {
  background-color: var(--accent);
}
.order__input-radio:checked + .order__bike {
  display: block;
}
.order__bike-price {
  position: absolute;
  font-size: 32px;
  top: 30px;
  left: 0;
  right: 0;
  width: 220px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--accent);
  border-radius: 50%;
  transform: translateX(-50%);
}
.order__bike-price::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 100px;
  border: 1px solid var(--accent);
  border-radius: 50%;
  top: 12px;
}
@media screen and (width < 1111px) {
  .order__inner {
    display: block;
  }
  .order__form {
    max-width: 95%;
    position: relative;
  }
  .order__form-text {
    max-width: 95%;
  }
  .order__bike {
    top: 300px;
  }
  .order__bike-price {
    transform: translateX(-100%);
  }
  .order__bike-img {
    width: 450px;
  }
}
.order__label-box {
  margin-bottom: 250px;
}
@media screen and (width < 971px) {
  .order__label-box {
    margin-bottom: 450px;
  }
  .order__bike {
    top: 250px;
    left: 0;
  }
  .order__bike-price {
    transform: translateX(0%);
    top: 50px;
    left: 600px;
  }
  .order__bike-img {
    width: 80%;
  }
}
@media screen and (width < 879px) {
  .order__label-box {
    margin-bottom: 400px;
  }
  .order__bike {
    top: 270px;
  }
  .order__bike-price {
    font-size: 28px;
    top: 20px;
    left: 500px;
  }
}
@media screen and (width < 755px) {
  .order__label-box {
    margin-bottom: 500px;
  }
  .order__bike-price {
    font-size: 24px;
    top: 0;
    left: 20%;
  }
  .order__bike-img {
    margin-top: 110px;
  }
}
@media screen and (width < 641px) {
  .order__label-box {
    margin-bottom: 400px;
  }
  .order__bike-price {
    border: none;
    border-radius: 0;
  }
  .order__bike-price::after {
    display: none;
  }
  .order__bike-img {
    margin-top: 85px;
    width: 95%;
  }
}
@media screen and (width < 479px) {
  .order__label-box {
    margin-bottom: 350px;
  }
}
@media screen and (width < 361px) {
  .order__label-box {
    margin-bottom: 300px;
  }
  .order__radio-style {
    width: 70px;
  }
  .order__bike-price {
    left: 7%;
    font-size: 18px;
  }
}

.footer {
  color: var(--white);
  background-color: var(--black);
  padding: 21px 0;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__police {
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
  text-decoration: underline;
}
.footer__social {
  display: flex;
  gap: 28px;
}
.footer__contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
.footer__contacts-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
}/*# sourceMappingURL=style.css.map */