:root {
    --black: #131313;
    --white: #FFFFFF;
    --grey: #e8e8e8;
    --grey1: #6F6F6F;
    --accent: #FF4040;
}

@mixin transition ($transition-property: color, $transition-duration: 550ms, $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)){
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
}