.button {
  min-width: 420px;
  padding: 28px 28px;
  font-size: 20px;
  letter-spacing: 1.1em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--black);
  @include transition ($transition-property: background-color);

  &:hover {
    background-color: var(--accent);
  }

}