.button {
  min-width: 420px;
  padding: 28px 28px;
  font-size: 20px;
  letter-spacing: 1.1em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--black);
  @include transition ($transition-property: background-color);

  &:hover {
    background-color: var(--accent);
  }

  @media screen and (width < 641px) {
    min-width: auto;
    max-width: 100%;
    font-size: 16px;
    padding: 18px 18px;
    letter-spacing: .9em;
  }

}