.feature {

  & .subtitle {
    margin-bottom: 40px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    
  }

  &__items {
    flex-basis: 570px;
  }

  &__list:not(:last-child) {
    margin-bottom: 30px;
  }

  &__indicators {
    padding: 2px 0 3px;
    // display: block;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--black);
    margin-bottom: 13px;
  }

  &__line {
    display: flex;
    margin-bottom: 5px;
  }

  &__name {
    flex-basis: 285px;
    padding-right: 15px;
  }

  &__descr {
    flex-basis: 285px;
  }

  &__img {
    align-self: center;
    width: auto;
  }

 

  @media screen and (width < 992px) {

    &__inner {
      flex-wrap: wrap;
    }

    &__items {
      flex-basis: 100%;
    }

    &__name {
      flex-basis: 50%;
    }
  
    &__descr {
      flex-basis: 50%;
    }

    &__img {
      order: -1;
      width: 100%;
    }
  }
}