.nav {
  @media screen and (width > 990px ) {
  margin-right: 70px;
}

  &__list {
    display: flex;
    gap: 12px;
  }

  &__link {
    padding: 42px 20px;
    text-transform: uppercase;
    @include transition ($transition-property: (color, background-color));
    &:hover {
      background-color: var(--black);
      color: var(--white);
    }
  }

  @media screen and (width < 769px) {
    margin: 45px 0 0;

    &__list {
      justify-content: space-between;
    }

    &__link {
      padding: 24px 20px;
    }
  }

  @media screen and (width < 641px) {

    &__link {
      padding: 24px 0;
    }
  }

  @media screen and (width < 351px) {

    &__link {
      font-size: 12px;
    }
  }
  
}