.order {
  padding-bottom: 100px;

  &__inner {
    display: flex;
    position: relative;
  }

  & .subtitle {
    margin-bottom: 40px;
  }

  &__form {
    max-width: 420px;
  }

  &__form-text {
    max-width: 298px;
    margin-bottom: 30px;
  }

  &__input {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid var(--black);
    outline: none;

    &::placeholder {
      color: var(--grey1);
      opacity: .5;
    }
  }

  &__label {
    cursor: pointer;

    & + & {
      margin-left: 23px;
    }

    &-text {
      color: var(--grey1);
      opacity: .5;
      margin-bottom: 10px;
    }

    &-box {
      display: flex;
      margin-bottom: 50px;
    }
  }

  &__input-radio {
    position: absolute;
    opacity: 0;
    z-index: -1;
    clip: rect(0 0 0 0);
  }

  &__bike {
    display: none;
    position: absolute;
    top: 0;
    right: 0;


  }

  &__radio-style {
    display: inline-block;
    width: 80px;
    height: 12px;
    border-radius: 30px;

    &--grey {
      background-color: var(--grey1);
    }

    &--white {
      background-color: var(--white);
      border: 1px solid #6F6F6F;
    }

    &--red {
      background-color: var(--accent);
    }
  }

  &__input-radio:checked + .order__bike {
    display: block;
  }

  &__bike-price {
    position: absolute;
    font-size: 32px;
    top: 30px;
    left: 0;
    right: 0;
    width: 220px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--accent);
    border-radius: 50%;
    transform: translateX(-50%);

    &::after {
      content: '';
      position: absolute;
      width: 220px;
      height: 100px;
      border: 1px solid var(--accent);
      border-radius: 50%;
      top: 12px;
    }
  }

  @media screen and (width < 1111px) {
    padding-bottom: 50px;

  }

  @media screen and (width < 1073px) {

    &__label-box {
      margin-bottom: 300px;
    }

    &__bike {
      top: auto;
      bottom: 20px;
      left: 0;
      right: auto;

      &-img {
        width: 430px;
      }

      &-price {
        top: 0;
        right: -20%;
        left: auto;
        transform: translateX(100%);
      }
    }
  }

  @media screen and (width < 781px) {
    &__bike {
      &-price {
        top: -50px;
        right: 0;
        transform: translateX(50%);
      }
    }
  }

  @media screen and (width < 581px) {
    &__bike {
      &-price {
        display: block;
        top: 34px;
        right: auto;
        left: 0;
        transform: translateX(0%);
        font-size: 18px;
        border-radius: 0;
        border: none;

        &::after {
          display: none;
        }

        & span {
          padding: 5px;
          border-radius: 5px;
          background-color: var(--accent);
          color: var(--white);

        }
      }
    }
  }

  @media screen and (width < 461px) {

    &__bike {
      &-price {
        top: 51px;
      }
    }
  }

  @media screen and (width < 381px) {
    &__bike {
      &-price {
        top: -30px;
      }
    }
  }


  // несоответствие на пк и мобилке
  // @media screen and (width < 1111px) {

  //   &__inner {
  //     display: block;
  //   }

  //   &__form {
  //     max-width: 95%;
  //     position: relative;

  //     &-text {
  //       max-width: 95%;
  //     }
  //   }


  //   &__bike {
  //     top: 300px;

  //     &-price {
  //       transform: translateX(-100%);
  //     }

  //     &-img {
  //       width: 450px;
  //     }
  //   }
  // }

  // &__label-box {
  //   margin-bottom: 250px;
  // }

  // @media screen and (width < 971px) {

  //   &__label-box {
  //     margin-bottom: 450px;
  //   }

  //   &__bike {
  //     top: 250px;
  //     left: 0;

  //     &-price {
  //       transform: translateX(0%);
  //       top: 50px;
  //       left: 600px;
  //     }

  //     &-img {
  //       width: 80%;
  //     }
  //   }
  // }

  // @media screen and (width < 879px) {

  //   &__label-box {
  //     margin-bottom: 400px;
  //   }

  //   &__bike {
  //     top: 270px;

  //     &-price {
  //       font-size: 28px;
  //       top: 20px;
  //       left: 500px;
  //     }
  //   }
  // }

  // @media screen and (width < 755px) {

  //   &__label-box {
  //     margin-bottom: 500px;
  //   }


  //   &__bike {

  //     &-price {
  //       font-size: 24px;
  //       top: 0;
  //       left: 20%;
  //     }

  //     &-img {
  //       margin-top: 110px;
  //     }
  //   }
  // }

  // @media screen and (width < 641px) {

  //   &__label-box {
  //     margin-bottom: 460px;
  //   }

  //   &__bike {

  //     &-price {
  //       border: none;
  //       border-radius: 0;

  //       &::after {
  //         display: none;
  //       }
  //     }

  //     &-img {
  //       margin-top: 85px;
  //       width: 85%;
  //     }
  //   }
  // }

  // @media screen and (width < 479px) {

  //   &__label-box {
  //     margin-bottom: 350px;
  //   }

  //   // &__radio-style {
  //   //   width: 70px;
  //   // }

  //   &__bike-price {
  //     // left: 7%;
  //     // font-size: 18px;
  //   }
  // }

  // @media screen and (width < 361px) {

  //   &__label-box {
  //     margin-bottom: 300px;
  //   }

  //   &__radio-style {
  //     width: 70px;
  //   }

  //   &__bike-price {
  //     left: 7%;
  //     font-size: 18px;
  //   }
  // }
}